@page "/listadotitularesvehiculos"
@inject ListarTitularesConSusVehiculosUseCase ListarTitularesConSusVehiculosUseCase
@inject ListarVehiculosUseCase ListarVehiculosUseCase
@inject ListarTitularesUseCase ListarTitularesUseCase
@inject EliminarTitularUseCase EliminarTitularUseCase
@inject NavigationManager Navegador


<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>DNI</th>
            <th>ACCIÓN</th>

            <th>IDVEHICULO</th>
            <th>DOMINIO</th>
            <th>MARCA</th>
            <th>FABRICACION</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var t in _lista)
        {
                <tr>
                    <td>@t.ID</td>
                    <td>@t.Nombre</td>
                    <td>@t.Apellido</td>
                    <td>@t.DNI</td>
                @foreach (var v in t.listaVehiculos)
                {
                    <td>@v.ID</td>
                    <td>@v.Dominio</td>
                    <td>@v.Marca</td>
                    <td>@v.Fabricacion</td>
                    <td>@v.ID del titular</td>
                }
                    <td>
                        <button class="btn btn-primary">
                            <span class="oi oi-pencil"></span>
                        </button>
                        <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(t)">
                            <span class="oi oi-trash"></span>
                        </button>
                    </td>
                </tr>
        }
    </tbody>
</table>


@code {
    List<Titular> _lista = new List<Titular>();
    protected override void OnInitialized()
    {
        _lista = ListarTitularesConSusVehiculosUseCase.Ejecutar();
    }
    DialogoConfirmacion dialogo = new DialogoConfirmacion();
    Titular? _titularParaEliminar;
    private void ConfirmarEliminacion(Titular t)
    {
        _titularParaEliminar = t;
        String Mensaje = $"¿Desea eliminar al titular {t.Nombre} {t.Apellido} {t.DNI}?";
        dialogo.Mostrar(Mensaje);
    }   //Dialogo de confirmacion para eliminar titulares
    private void Eliminar()
    {
        if (_titularParaEliminar != null)
        {
            EliminarTitularUseCase.Ejecutar(_titularParaEliminar.ID);
            _lista = ListarTitularesUseCase.Ejecutar();
        }
    }
    void ModificarTitular(Titular t)
    {
        Navegador.NavigateTo($"titular/{t.ID}");
    }
}