@page "/listadoterceros"
@inject ListarTercerosUseCase ListarTercerosUseCase
@inject EliminarTerceroUseCase EliminarTerceroUseCase
@inject NavigationManager Navegador

<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Aseguradora</th>
            <th>Siniestro</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in _lista)
        {
            <tr>
                <td>@t.ID</td>
                <td>@t.DNI</td>
                <td>@t.Nombre</td>
                <td>@t.Apellido</td>
                <td>@t.Telefono</td>
                <td>@t.Aseguradora</td>
                <td>@t.SiniestroID</td>
                <td>
                    <button class="btn btn-primary">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(t)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<Tercero> _lista = new List<Tercero>();
    protected override void OnInitialized()
    {
        _lista = ListarTercerosUseCase.Ejecutar();
    }

    DialogoConfirmacion dialogo = new DialogoConfirmacion();
    Tercero? _terceroParaEliminar = null;
    private void ConfirmarEliminacion(Tercero t)
    {
        _terceroParaEliminar = t;
        string Mensaje = $"¿Desea eliminar al tercero {t.Nombre} {t.Apellido} {t.DNI}?";
        dialogo.Mostrar(Mensaje);
    }   //Dialogo de confirmacion para eliminar terceros
    private void Eliminar()
    {
        if (_terceroParaEliminar != null)
        {
            EliminarTerceroUseCase.Ejecutar(_terceroParaEliminar.ID);
            _lista = ListarTercerosUseCase.Ejecutar(); 
        }
    }
    void ModificarTercero(Tercero t)
    {
        Navegador.NavigateTo($"tercero/{t.ID}");
    }
}