@page "/listadotitulares"
@inject ListarTitularesUseCase ListarTitularesUseCase
@inject EliminarTitularUseCase EliminarTitularUseCase
@inject NavigationManager Navegador

<DialogoConfirmacion @ref?="dialogo" OnConfirmado="Eliminar"/>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>DNI</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Mail</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in _lista)
        {
            <tr>
                <td>@t.ID</td>
                <td>@t.Nombre</td>
                <td>@t.Apellido</td>
                <td>@t.DNI</td>
                <td>@t.Telefono</td>
                <td>@t.Direccion</td>
                <td>@t.Mail</td>
                <td>@t.DNI</td>
                <td>
                    <button class="btn btn-primary">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(t)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<Titular> _lista = new List<Titular>();
    protected override void OnInitialized()
    {
        _lista = ListarTitularesUseCase.Ejecutar();
    }

    DialogoConfirmacion dialogo = null!;
    Titular? _titularParaEliminar = null;
    private void ConfirmarEliminacion(Titular t)
    {
        _titularParaEliminar = t;
        string Mensaje = $"¿Desea eliminar al titular {t.Nombre} {t.Apellido} {t.DNI}?";
        dialogo.Mostrar(Mensaje);
    }   //Dialogo de confirmacion para eliminar titulares
    private void Eliminar()
    {
        if (_titularParaEliminar != null)
        {
            EliminarTitularUseCase.Ejecutar(_titularParaEliminar.ID);
            _lista = ListarTitularesUseCase.Ejecutar(); 
        }
    }
    void ModificarTitular(Titular t)
    {
        Navegador.NavigateTo($"titular/{t.ID}");
    }
}